<div class="container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="checkLogin()">
    <section>
      <mat-form-field>
        <mat-label>Email:</mat-label>
        <input matInput type="email" [formControl]="email" required>
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Email is required
        </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field>
        <mat-label>Password:</mat-label>
        <input matInput type="text" [formControl]="password" required>
        <mat-error *ngIf="password.invalid">
          password not valid
        </mat-error>
      </mat-form-field>
    </section>

    <!-- <div>
      <label for="email">Email:</label>
      <input type="text" [formControl]="email">
      <span style="color: red" *ngIf="loginForm.get('email').errors?.['required']">Email is required</span>
      <span style="color: red" *ngIf="loginForm.get('email').errors?.['email']">Not valid email</span>
    </div>

    <div>
      <label for="password">Password:</label>
      <input type="password" [formControl]="password">
      <span style="color: red" *ngIf="loginForm.get('password').errors?.['required']">Email is required</span>
    </div> -->

    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
</div>
